.about {
    padding: 0 20px 112px;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 87px;

    &-image {
        width: 100%;
        max-width: 600px;
    }

    &-content {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .global-heading {
        max-width: 422px;
    }

    .global-caption,
    .global-heading {
        margin-bottom: 25px;
    }

    .global-text {
        margin-bottom: 37px;
    }
}