.brand {
    background: #f4f7fd;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 55px;
    margin-bottom: var(--section-spacing);
    @media screen and (max-width: 1023.98px) {
        gap: 0 15px;
        padding: 20px;
    }
    
}