html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
li{
    list-style: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
}