$gray: #635F85;
$gray-light: #E7E7E7;
$gray-dark: #051441;
$gray-dark-light: #79899d;
$gray-blur: #7F8EA1;
$gray-blur-dark: #6b7d92;
$primary-color: #FF7D00;
$secondary-color: #5a76e5;
$third-color: #F4A11A;

:root {
    --section-spacing: 140px;
}