section.brand
    .brand-item
        img(src="./images/logo/brand-google.svg", alt="google")
    .brand-item
        img(src="./images/logo/brand-slack.svg", alt="slack")
    .brand-item
        img(src="./images/logo/brand-agworld.svg", alt="agworld")
    .brand-item
        img(src="./images/logo/brand-riotinto.svg", alt="riotinto")
    .brand-item
        img(src="./images/logo/brand-heroku.svg", alt="heroku")