// ===============Footer================
footer.footer
    .footer-container
        .footer-wrapper 
            .footer-content
                .footer-content--logo 
                    img(src="./images/logo/footer.png", alt="footer")
                    p 
                .footer-content--desc 
                    p Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
                .footer-content--social 
                    .social--bg 
                        img(src="./images/icon/facebook.svg", alt="facebook")
                    .social--bg 
                        img(src="./images/icon/twitter.svg", alt="twitter")
                    .social--bg 
                        img(src="./images/icon/instagram.svg", alt="instagram")
            .footer-list 
                ul 
                    span Services
                    li Email Marketing Social
                    li Media Marketing Search
                    li Engine Optimization 
                    li Prnelnct Devnionmnni 
                    li Web Development 
                ul
                    span Support
                    li Sizicik. Community 
                    li Support Documents 
                    li Help:le-Lk API Documents
                    li 5nvin,es Witus 
                    li Email Contort 
                ul
                    span Contact Us
                    li suppariaringrozom
                    li (41) 84?-5E2-451 
                    li North Cry, 547 Link Road. 
        .footer-copyright 
            p All Right Reserved by Us! Copyright 2021 
// ===============Footer End================