// ===============Header================
header.header
    .navigation
        img(srcset="./images/logo/logo.png", alt="logo" class="header-logo")
        include ./menu
        .menu--auth
            a.button.button--secondary.auth--login(href="#!") Login
            a.button.button--primary.auth-signup(href="#!") Signup
    .header-main
        .header-content
            span.global-caption AWARD WINNING COMPANY
            h1.global-heading.global-heading--huge.header-heading We Are The Best Digital Markeing
            p.global-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
            .header-actions
                a.button.button--primary(href="#!") Get Started
                a.watch-video(href="#!")
                    .watch-icon
                        img(src="./images/icon/play.svg", alt="play")
                    span Watch Video
        .header-image
            img(srcset="./images/background.png", alt="background")
// ===============Header End================